pyglet==1.5.15
gym==0.18.3
scipy==1.5.4
pyparsing==2.2.2
numpy==1.15.4

pyzmq>=16.0.0
scikit-image>=0.13.1
opencv-python>=3.4
pyyaml>=3.11
cloudpickle
duckietown_slimremote>=2018.8.2
pygeometry
dataclasses
